@charset "UTF-8";
/* 若你有使用到中文需要的編碼宣告 */
/* 文件開頭說明 */
/*
 * Page name
 * Copyright 2020
 * Author
 * Licensed
*/
/* 目錄、區段的註解 */
/* -------------------------- *\
	Content
\* -------------------------- */
/**
 * Content .............. You are reading it!
 * Global .............. Set common styles
 * Layout .............. Set grid
 * Components .............. Set components styles
 * Pages .............. Set different page styles
 * Utility .............. Set utility tools
 */
/* -------------------------- *\
	Global
\* -------------------------- */
* {
  box-sizing: border-box;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  font-family: "微軟正黑體";
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-grey {
  background-color: #dadfe4;
}

@media screen and (max-width: 768px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
/* -------------------------- *\
	Components
\* -------------------------- */
.btn {
  display: inline-block;
  padding: 16px 20px;
  border-radius: 4px;
  font-size: 16px;
  color: #022873;
  background-color: #f2bb13;
  transition: all 0.3s;
}
.btn:hover {
  color: #f2bb13;
  background-color: #022873;
}
.btn-md {
  padding: 10px 10px;
  font-size: 12px;
}

.image-content {
  width: 100%;
}
.image-content::before {
  content: "";
  width: 100%;
  display: block;
  padding-top: 75%;
}
.image-content .img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  background-color: rgba(2, 40, 115, 0.5);
}
.navbar .navbar__logo {
  display: inline-block;
  background-image: url(../img/logo-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 100%;
  overflow: hidden;
}
.navbar .navbar__nav .nav__item {
  display: inline-block;
  vertical-align: top;
  height: 64px;
  line-height: 64px;
  border-radius: 4px;
  margin-left: 16px;
}
.navbar .navbar__nav .nav__item::after {
  content: "";
  display: inline-block;
  width: 5px;
  background-color: #f2bb13;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
}
.navbar .navbar__nav .nav__item:hover::after {
  width: 100%;
  height: 2px;
}
.navbar .navbar__nav .nav__item .nav__link {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  color: #f2bb13;
  font-weight: 600;
}
.navbar label,
.navbar input {
  display: none;
}
.navbar label {
  position: absolute;
  right: 16px;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .navbar .navbar__nav {
    display: none;
  }
  .navbar label {
    display: block;
  }
  .navbar #burger:checked + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 28px;
    z-index: 500;
    background-color: rgba(2, 40, 115, 0.5);
    text-align: center;
  }
}
.jumbotron-item .jumbotron-item__image {
  width: 100%;
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron-item .jumbotron-item_content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.jumbotron-item .jumbotron-item_content .jumbotron-item__title {
  font-size: 48px;
  font-weight: 600;
  color: #dadfe4;
  margin-bottom: 32px;
  line-height: 1.2;
}
.jumbotron-item .jumbotron-item_content .jumbotron-item__para {
  font-size: 20px;
  font-weight: 400;
  color: #dadfe4;
  margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .jumbotron-item .jumbotron-item_content .jumbotron-item__title {
    font-size: 36px;
    font-weight: 600;
    color: #dadfe4;
    margin-bottom: 24px;
    line-height: 1.2;
  }
  .jumbotron-item .jumbotron-item_content .jumbotron-item__para {
    font-size: 16px;
    font-weight: 400;
    color: #dadfe4;
    margin-bottom: 24px;
  }
}
.owl-theme .owl-nav {
  width: 100%;
  position: absolute;
  top: 50%;
}
.owl-theme .owl-nav button.owl-prev,
.owl-theme .owl-nav button.owl-next {
  width: 24px;
  height: 64px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
  transition: all 0.3s;
}
.owl-theme .owl-nav button.owl-prev:hover,
.owl-theme .owl-nav button.owl-next:hover {
  opacity: 1;
}
.owl-theme .owl-nav button.owl-prev {
  left: 16px;
  background-image: url(../img/common/back.svg);
}
.owl-theme .owl-nav button.owl-next {
  right: 16px;
  background-image: url(../img/common/next.svg);
}

.owl-theme .owl-dots {
  height: 8px;
  width: 100px;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
}
.owl-theme .owl-dots .owl-dot {
  width: 48px;
  height: 10px;
  margin: 0 4px;
}
.owl-theme .owl-dots .owl-dot::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #f3f4f5;
  transition: all 0.3s;
}
.owl-theme .owl-dots .owl-dot.active::after {
  height: 100%;
}

.about-content .about-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 32px;
  margin-top: 80px;
}
.about-content .about-para {
  font-size: 20px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .about-content .about-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 32px;
    margin-top: 40px;
  }
  .about-content .about-para {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
  }
}
.test {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.test .test-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 32px;
}
.test .test-para {
  font-size: 20px;
  font-weight: 400;
}

.mean-content {
  text-align: center;
  margin-top: 16px;
}
.mean-content .mean-title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 16px;
  color: #40414f;
}
.mean-content .mean-para {
  font-size: 20px;
  color: #40414f;
}

.mean-image {
  width: 100%;
  height: 75%;
  border-radius: 50%;
  overflow: hidden;
}
.mean-image::before {
  content: "";
  width: 100%;
  padding-top: 100%;
  display: block;
}
.mean-image .img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.explain .explain-content .explain-para {
  font-size: 20px;
  line-height: 1.5;
  color: #40414f;
  margin-bottom: 16px;
}
.explain .explain-content .explain-ul {
  margin-top: 24px;
}
.explain .explain-content .explain-ul .explain-li {
  margin-bottom: 16px;
  color: #40414f;
  font-size: 16px;
}
.explain .img {
  border-radius: 25px;
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

@media screen and (max-width: 768px) {
  .explain .image-content {
    margin-bottom: 16px;
  }
  .explain .explain-content .explain-para {
    font-size: 16px;
    line-height: 2;
  }
}
.footer-content {
  text-align: center;
}
.footer-content .footer-para {
  font-size: 20px;
  color: #40414f;
  margin-bottom: 16px;
}
.footer-content input {
  border: 1px solid sandybrown;
  width: 25vh;
  height: 25px;
}

.copyright {
  text-align: center;
  padding: 16px 0;
  background-color: rgba(2, 40, 115, 0.5);
  color: #f2bb13;
}

/* -------------------------- *\
	Utility
\* -------------------------- */
.owl-drag {
  padding: 0;
}/*# sourceMappingURL=style.css.map */